.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vw;
  min-height: 100vh;
}

.screen {
  height: 100px;
  width: 300px;
  border: 1px solid black;
  font-size: 30px;
}

.buttons {
  padding: 5px;
}

